<mat-expansion-panel disabled expanded class="customer-panel">
  <mat-expansion-panel-header class="panel-header">
    <mat-panel-title class="panel-title">
      Sensor Readings
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="row" fxLayotGap="5px" [style.height.%]="100">
    <div *ngIf=" sensorType == 'temperature'">
    <div class="graph" fxFlex="calc(60% - 5px)" [style.height.%]="100">
      <ngx-charts-line-chart [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [trimXAxisTicks]="trimXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [referenceLines]="referenceLines"
        [showRefLines]="showRefLines" [showRefLabels]="showRefLabels" [autoScale]="autoScale"
        [roundDomains]="roundDomains" [xScaleMax]="xScaleMax" [xScaleMin]="xScaleMin" [yScaleMin]="yScaleMin"
        [yScaleMax]="yScaleMax" (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </div>
    
    <div fxFlex="40">
      <div class="ui-g-12 ui-md-4">
        <span>Start Time</span>
        <p-calendar [(ngModel)]="xScaleMin" [inline]="true" [showTime]="true"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-4">
        <span class="calendar">End Time</span>
        <p-calendar class="calendar" [(ngModel)]="xScaleMax" [inline]="true" [showTime]="true"></p-calendar>
      </div>
    </div>
    </div>
  </div>
</mat-expansion-panel>