<mat-expansion-panel disabled expanded class="customer-panel">
  <mat-expansion-panel-header class="panel-header">
    <mat-panel-title class="panel-title">
      Sensor Readings
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="row" fxLayotGap="5px" [style.height.%]="100">
    <div *ngIf=" sensorType == 'temperature'">
    <div class="graph" fxFlex="calc(70% - 5px)" [style.height.%]="100">
      <ngx-charts-line-chart [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [trimXAxisTicks]="trimXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [referenceLines]="referenceLines"
        [showRefLines]="showRefLines" [showRefLabels]="showRefLabels" [autoScale]="autoScale"
        [roundDomains]="roundDomains" [xScaleMax]="xScaleMax" [xScaleMin]="xScaleMin" [yScaleMin]="yScaleMin"
         (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </div>
    
    <div fxFlex="30">
      <div fxLayout="column" [style.height.%]="100">
      <div fxFlex="30">
      <div class="ui-g-12 ui-md-4">
        <span>Start Time</span>
        <p-calendar [(ngModel)]="xScaleMin" [touchUI]="true" [showTime]="true"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-4">
        <span class="calendar">End Time</span>
        <p-calendar class="calendar" [(ngModel)]="xScaleMax" [touchUI]="true" [showTime]="true"></p-calendar>
      </div>
      </div>
      <div fxFlex="70">
        <button mat-raised-button (click)="setYMinTemperature()">Full View</button>
      </div>
      </div>
    </div>
    </div>
    <div *ngIf="sensorType == 'humidity'">
      <div class="graph" fxFlex="calc(70% - 5px)" [style.height.%]="100">
        <ngx-charts-line-chart [scheme]="colorScheme2" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [trimXAxisTicks]="trimXAxisTicks"
        [maxXAxisTickLength]="maxXAxisTickLength" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [referenceLines]="referenceLinesHumidity"
        [showRefLines]="showRefLines" [showRefLabels]="showRefLabels" [autoScale]="autoScale"
        [roundDomains]="roundDomains" [xScaleMax]="xScaleMax" [xScaleMin]="xScaleMin" (select)="onSelect($event)">
        </ngx-charts-line-chart>
      </div>
      <div fxFlex="30">
        <div fxLayout="column" [style.height.%]="100">
        <div fxFlex="30">
        <div class="ui-g-12 ui-md-4">
          <span>Start Time</span>
          <p-calendar [(ngModel)]="xScaleMin" [touchUI]="true" [showTime]="true"></p-calendar>
        </div>

        <div class="ui-g-12 ui-md-4">
          <span class="calendar">End Time</span>
          <p-calendar class="calendar" [(ngModel)]="xScaleMax" [touchUI]="true" [showTime]="true"></p-calendar>
        </div>
      </div>
      <div fxFlex="70">
        <button mat-raised-button (click)="setYMinHumid()">Full View</button>
      </div>
      </div>
    </div>
    </div>
    <div *ngIf=" sensorType == 'alcohol'">
      <div class="graph" fxFlex="calc(70% - 5px)" [style.height.%]="100">
          <ngx-charts-line-chart [scheme]="colorScheme3" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [legend]="showLegend" [trimXAxisTicks]="trimXAxisTicks"
          [maxXAxisTickLength]="maxXAxisTickLength" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [referenceLines]="referenceLinesAlcohol"
          [showRefLines]="showRefLines" [showRefLabels]="showRefLabels" [autoScale]="autoScale"
          [roundDomains]="roundDomains" [xScaleMax]="xScaleMax" [xScaleMin]="xScaleMin" [yScaleMin]="yScaleMinAlcohol" 
           (select)="onSelect($event)">
          </ngx-charts-line-chart>
      </div>
      <div fxFlex="30">
        <div fxLayout="column" [style.height.%]="100">
        <div fxFlex=30>
        <div class="ui-g-12 ui-md-4">
          <span>Start Time</span>
          <p-calendar [(ngModel)]="xScaleMin" [touchUI]="true" [showTime]="true"></p-calendar>
        </div>
        <div class="ui-g-12 ui-md-4">
          <span class="calendar">End Time</span>
          <p-calendar class="calendar" [(ngModel)]="xScaleMax" [touchUI]="true" [showTime]="true"></p-calendar>
        </div>
        </div>
        <div fxFlex=70>
          <button mat-raised-button (click)="setYMinAlcohol()">Full View</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</mat-expansion-panel>