<mat-expansion-panel class="detail-panel" expanded disabled>
    <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
            Device Details
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
        <div>
            <div class="main-content" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start"
                style="padding-left: 2%; padding-top: 2%;">
                <div fxFlex="100%">
                    <div fxFlex='100' style="font-weight: bold;">QM_DNM_004</div>
                </div>
                <div fxFlex="100%" style="font-size:85%;">
                    <span fxFlex='50' ms3DisplayError>Sensor ID</span>
                    <span fxFlex='2'>:</span>
                    <span fxFlex='48'><b>QM_DNM_004_01</b></span>
                </div>
                <div ms3DisplayError fxFlex="100%" style="font-size:85%;">
                    <span fxFlex='50'>Type</span>
                    <span fxFlex='2'>:</span>
                    <span fxFlex='48'><b>Teperature</b></span>
                </div>
                <div fxFlex="100%" style="font-size:85%;">
                    <span fxFlex='50'>Reading</span>
                    <span fxFlex='2'>:</span>
                    <span fxFlex='48'><b>{{temp | tempPipe}}</b></span>
                </div>
                <div fxFlex="100%" style="font-size:85%;">
                    <span fxFlex='50'>Timestamp</span>
                    <span fxFlex='2'>:</span>
                    <span fxFlex='48'><b>{{ time | date }}</b></span>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="OperationMode">
            <form [formGroup]="OrganizationForm" (ngSubmit)="onSubmit(OrganizationForm)">
                <div class="main-content" fxLayout="column">
                    <div fxFlex="100%">
                        <mat-form-field class="form-field">
                            <mat-label>Organization Level</mat-label>
                            <mat-select formControlName="org_level">
                                <mat-option *ngFor="let level of Org_Levels" [value]="level.domain_code">
                                    {{level.domain_value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100%">
                        <mat-form-field class="form-field">
                            <mat-label>Company Code</mat-label>
                            <input matInput placeholder="Type your Company Code" formControlName="org_code">
                        </mat-form-field>
                    </div>
                    <div fxFlex="100%">
                        <mat-form-field class="form-field">
                            <mat-label>Company Name</mat-label>
                            <input matInput #org_name placeholder="Type your Company Name" formControlName="org_name">
                        </mat-form-field>
                    </div>
                    <div fxFlex="100%">
                        <mat-form-field class="form-field">
                            <mat-label>Country Code</mat-label>
                            <mat-select placeholder="Choose your Country Code" formControlName="org_country">
                                <mat-option *ngFor="let code of country_codes"
                                    [value]="code.name + ' - ' + code.phonecode">
                                    {{code.name}} - {{code.phonecode}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100%">
                        <mat-form-field class="form-field">
                            <mat-label>Default Currency</mat-label>
                            <mat-select placeholder="Choose your Default Currency" formControlName="org_currency">
                                <mat-option *ngFor="let currency of default_currencies" [value]="currency.currency">
                                    {{currency.code}} - {{currency.currency}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100%">
                        <mat-form-field class="form-field">
                            <mat-label>Default Language</mat-label>
                            <mat-select placeholder="Choose your Default Language" formControlName="org_language">
                                <mat-option *ngFor="let lang of default_languages" [value]="lang.name">
                                    {{lang.name}} - {{lang.iso_639_1}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                </div>
            </form>
        </div> -->
    </div>
    <!-- <mat-action-row class="action-row-content">
        <span class="example-spacer"></span>
        <button mat-icon-button *ngIf="!OperationMode" class="add-button" [disabled]="CompanyData.org_id === 0"
            (click)="ChangeMode()">
            <mat-icon class="mat-icons-round md-dark md-inactive md-24">
                edit
            </mat-icon>
        </button> &nbsp;
        <button mat-icon-button *ngIf="OperationMode" type="submit"
            [disabled]="CompanyData.org_id === 0 || OrganizationForm.invalid" class="add-button" (click)="submitForm()">
            <mat-icon class="mat-icons-round md-cyanV md-24">
                check_circle
            </mat-icon>
        </button> &nbsp;
        <button mat-icon-button *ngIf="OperationMode" type="button" [disabled]="CompanyData.org_id === 0"
            class="add-button" (click)="ChangeMode()">
            <mat-icon class="mat-icons-round md-pinkV md-24">
                cancel
            </mat-icon>
        </button>
    </mat-action-row> -->
</mat-expansion-panel>