<div class="main-content">
        <div fxLayout="column" class="top-section">
            <div fxLayout="row" class="profile-cover"></div>
            <div fxLayout="column">
                <div fxLayout="row" class="profile-picture">
                    <img src="https://acc.edu.ai/assets/images/no-staff-image.png">
                </div>
                <div  class="profile-info">
                        <h2>User Name</h2>
                        <p>Profile details....</p>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" class="profile-Content">
            <div fxFlex="calc(50% - 10px)" class="mat-elevation-z6">
                hello
            </div>
            <div fxFlex="calc(50% - 10px)" class="mat-elevation-z6">
                hello
            </div>
        </div>
    </div>
