<mat-expansion-panel disabled expanded class="customer-panel">
    <mat-expansion-panel-header class="panel-header">
        <mat-panel-title class="panel-title">
            Profile
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="main-content">
        <div fxLayout="column" class="top-section">
            <div fxLayout="row" class="profile-cover">
                <img src="https://www.incimages.com/uploaded_files/image/970x450/getty_509107562_2000133320009280346_351827.jpg">
            </div>
            <div fxLayout="column">
                <div fxLayout="row" class="profile-picture">
                    <img src="https://acc.edu.ai/assets/images/no-staff-image.png">
                </div>
                <div  class="profile-info">
                        <h2>User Name</h2>
                        <p>Profile details....</p>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="calc(50% - 10px)" class="mat-elevation-z6">
                hello
            </div>
            <div fxFlex="calc(50% - 10px)" class="mat-elevation-z6">
                hello
            </div>
        </div>
    </div>
</mat-expansion-panel>
