.main-table{
    width: 100%;
}

.mat-row:nth-child(odd) .view {
    background: url('../../../../../assets/images/eye1.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.mat-row:nth-child(even) .view {
    background-image: url('../../../../../assets/images/eye2.svg');
    background-repeat: no-repeat;
    background-position: center;
}

// .main-content {
//     height: calc(100vh - 240px);
//     overflow: auto;
// }
table {
    width: 100%;
}

th {
    color: white !important;
    background-color: #00AEC6;
}

.mat-row:nth-child(odd){
    background-color:#F0FAFC;
}


