<div fxLayout="column" class="box" [style.height.%]="100">
    <div fxFlex="10%">
        <button mat-icon-button (click)="goBack()" class="back_button">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div fxFlex="90%">
        <mat-card class="examplecard mat-elevation-z6">
            <mat-card-header>
                <mat-card-title class="card-title">Node Name</mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
        </mat-card>
    </div>
</div>