.panel-header{
    background-color:#6183FF;
    color:white;
}
.contact-us{
    width: 100%;
    height: 30vh;
    background-color: #C187F8;
    border-radius: 2px;
    text-align: center;
}
.contact-us h5{
    margin-top: 5px;;
}
.contact-form{
    padding: 10px;
    border-radius: 2px;
}
.form-control {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-full-width {
    width: 100%;
  }
  .sample-space{
      height: 20px;
  }
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.Submit-button{
    text-align: left;
}