.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container {
    width: 100%;
  }
  .example-card {
    width: calc(100vw - 60px) !important;
    margin: 30px;
    position: absolute;
    top: 10vh;
  }
  .main-content{
    height: 100vh;
    background-color: #7b3374;
  }

  
  .example-full-width {
    width: 100%;
  }
  .form-control{
      height: 30px;
  }
  .form-control-text{
    height: 80px;
  }
  .Submit-button{
      text-align: center;
  }
  .card-title{
      text-align: center;
  }