.photo-container{
    height: 100%;
}
.image-container{
    background-image: url("../../assets/images/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: inherit;
}

.login-panel{
    background: white
}

.login-banner{
    text-align: center
}

.container{
    height: 100%;
    text-align: center;
    padding: 80px;
}

.avatar{
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    background: grey;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-image: url("../../assets/images/man.svg")
}

.avatar-container{
    text-align: center;
}

.login-button{
    background: #DF0C5F;
    color: white
}