<!-- <div class="mobile-view-container">
    <div class="mobile-main-content">
        <div fxLayout="column" fxLayoutAlign="none">
            <div fxFlex="40%">
                xadsdadad
            </div>
            <div fxFlex="60%">
                dadadasda
            </div>
        </div>
    </div>
</div> -->
<div fxLayout="column" fxLayoutAlign="none" [style.height.%]="100" fxLayoutGa="16px">
    <div fxFlex="40%" class="box">
        
    </div>  
    <div fxFlex="60%" class="card-container">
        <div fxLayout="row wrap" fxLayoutAlign="start" [style.height.%]="100">
            <div fxFlex="calc(33.33% - 16px)" class="card-container">
                <mat-card class="example-card"></mat-card>
            </div>
            <div fxFlex="calc(33.33% - 16px)" class="card-container">
                <mat-card class="example-card"></mat-card>
            </div>
            <div fxFlex="calc(33.33% - 16px)" class="card-container">
                <mat-card class="example-card"></mat-card>
            </div>
            <div fxFlex="calc(33.33% - 16px)" class="card-container">
                <mat-card class="example-card"></mat-card>
            </div>
            <div fxFlex="calc(33.33% - 16px)" class="card-container">
                <mat-card class="example-card"></mat-card>
            </div>
            <div fxFlex="calc(33.33% - 16px)" class="card-container">
                <mat-card class="example-card"></mat-card>
            </div>
        </div>
    </div>
</div>


