

.mobile-view-container {
    display: flex !important;
    flex-direction: column;
    height: (100vh -30px);
}

.mobile-main-content {
    flex: 1 0 auto;
    background-color: #eeeeee;
}

.box{
    padding: 16px;
}

.example-card{
    height: 100%;
}

.card-container{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}
// .card-icon{
    
// }

.card-details{
    text-align: center;
}

.card-border{
    border: 8px solid;
    border-image: linear-gradient();
}