<div class="container">
    <mat-tab-group class="wide" [style.height.%]="100" [selectedIndex]="selectedTab">
    <mat-tab label="CUSTOMER">
        <div class="content" fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-sm="column" [style.height.%]="100">
            <div fxFlex="calc(65% - 16px)" fxFlex.lt-sm="100%">
                <app-customer-table (ButtonClick)="openPopup($event)" [customerData]="customerData" (customerDetails)="getCustomerDetails($event)"></app-customer-table>
            </div>
            <div fxFlex="calc(35% - 16px)" fxFlex.lt-sm="100%" >
                <app-customer-details (ButtonClicked)="openPopup($event)" [customerData]="customer" (editClicked)="openAddressEditPopup($event)" [legalinfo_Type]="LegalinfoType" [isd_code]="cuntrycode"></app-customer-details>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="VENDOR">
        <div class="content" fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-sm="column" [style.height.%]="100">
            <div fxFlex="calc(65% - 16px)" fxFlex.lt-sm="100%">
                <app-vendor-table (ButtonClicked)="openPopup($event)" [vendorData]="vendorData" (vendorDetails)="getVendorDetails($event)"></app-vendor-table>
            </div>
            <div fxFlex="calc(35% - 16px)" fxFlex.lt-sm="100%" >
                <app-vendor-details (ButtonClicked)="openPopup($event)" [vendorData]="vendor" [legalinfo_Type]="LegalInfoType" [isd_code]="cuntrycode"></app-vendor-details>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="CUSTOMER ASSIGNMENT">
        <div class="content">
            <app-customer-assign (ButtonClicked)="openPopup($event)"></app-customer-assign>
        </div>
    </mat-tab>
    <mat-tab label="DEVICE REG.">
        <div class="content" fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-sm="column" [style.height.%]="100">
            <div fxFlex="calc(65% - 16px)" fxFlex.lt-sm="100%">
                <app-device-table [deviceData]="deviceData" (buttonClicked)="openPopup($event)" (deviceId2)="getDeviceID($event)" (deviceId)="getDeviceID($event)" (deviceName)="getDeviceName($event)" (deviceName2)="getDeviceName($event)" (deviceAssign)="toDeviceAssign($event)" (deviceDetails)="getDeviceDetails($event)"></app-device-table>
            </div>
            <div fxFlex="calc(35% - 16px)" fxFlex.lt-sm="100%">
                <app-device-detail [device]="deviceDetail" (buttonClicked)="openPopup($event)"></app-device-detail>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="DEVICE ASSIGNMENT">
        <div class="content" fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-sm="column" [style.height.%]="100">
            <div fxFlex="calc(40% - 16px)" fxFlex.lt-sm="100%">
                <app-device-assignment [deviceData]="deviceData" (rowId)="getRowId($event)"></app-device-assignment>
            </div>
            <div fxFlex="calc(60% - 16px)" fxFlex.lt-sm="100%">
                <app-assignment-detial></app-assignment-detial>
            </div>
        </div>
        </mat-tab>
    <mat-tab label="DEVICE MANAGEMENT">
        <div class="content">
            <app-device-management [deviceId]="deviceId" [deviceName]="deviceName"></app-device-management>
        </div>
    </mat-tab>
    </mat-tab-group>
</div>
<ngx-spinner color="rgba(223,12,95,0.9)" bdOpacity="0.9" type="timer">
    <p style="color:#00CED1"> Loading... </p>
</ngx-spinner>