<div mat-dialog-title>
    Device Information
</div>
<div mat-dialog-content>
    <form [formGroup]="adddeviceForm">
        <div class="form-container">
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start" fxLayoutGap="35px">
                <div fxFlex="0 1 calc(33.3% - 35px)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <mat-label>Device Name</mat-label>
                        <input matInput placeholder="Type Device Name" formControlName="device_name">
                    </mat-form-field>
                </div>
                <div fxFlex="0 1 calc(33.3% - 35px)" fxFlex.lt-sm="100%">
                    <mat-form-field class="form-field">
                        <mat-label>Device Mac Address</mat-label>
                        <input matInput placeholder="Type Deice MAC Address Here" formControlName="device_mac">
                    </mat-form-field>
                </div>
            </div>
            <div mat-dialog-actions mat-elevation-z6>
                <button mat-stroked-button type="button" class="cancelbtn" (click)="closeDialog()">Cancel</button>
                <span class="example-spacer"></span>
                <button mat-raised-button color="primary" type="submit" class="savebtn" [disabled]="adddeviceForm.invalid" [class.blank-panel]="adddeviceForm.invalid" (click)="onSubmit(adddeviceForm)">Save</button>
            </div>
        </div>

    </form>
</div>