<!--The content below is only a placeholder and can be replaced.-->
<div class="view-container">
  <app-header></app-header>
  <div class="main-content">
    <div class="main-flex" fxFlexLayout="column">
      <div fxFlex="15" [@sidenavState]="sidenavState">
        <app-sidenav (sidenavToggle)="shrinkSidenav()"></app-sidenav>
      </div>
      <div class="main-content-flex" fxFlex="85" [@mainContentState]="sidenavState">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
