<mat-toolbar>
    <mat-toolbar-row>
        <div fxFlex="row">
            <a mat-icon-button fxFlex="auto"><mat-icon>home</mat-icon></a>
            <a mat-icon-button fxFlex="auto"><mat-icon>room</mat-icon></a>
            <a mat-icon-button fxFlex="auto"><mat-icon>devices</mat-icon></a>
            <a mat-icon-button fxFlex="auto"><mat-icon>notifications</mat-icon></a>
            <a mat-icon-button fxFlex="auto"><mat-icon>forum</mat-icon></a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
