<mat-toolbar>
    <mat-toolbar-row>
        <div fxFlex="row">
            <a mat-icon-button fxFlex="auto" routerLink={{routerLink4}}><mat-icon>home</mat-icon></a>
            <a mat-icon-button fxFlex="auto" routerLink={{routerLink0}}><mat-icon>room</mat-icon></a>
            <a mat-icon-button fxFlex="auto" routerLink={{routerLink1}}><mat-icon>devices</mat-icon></a>
            <a mat-icon-button fxFlex="auto" routerLink={{routerLink2}}><mat-icon>notifications</mat-icon></a>
            <a mat-icon-button fxFlex="auto" routerLink={{routerLink3}}><mat-icon>forum</mat-icon></a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
