<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button><mat-icon class="example-icon" aria-hidden="false" aria-label="notification">menu</mat-icon></button>
        <span>Dashboard</span>
        <span class="example-spacer"></span>
        <button mat-icon-button><mat-icon class="example-icon" aria-hidden="false" aria-label="notification">notification_important</mat-icon></button>
        <button mat-icon-button><mat-icon class="example-icon" aria-hidden="false" aria-label="account">account_circle</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>