<div class="search-bar-container">
    <mat-icon class="search-icon">search</mat-icon>
    <input class="search-bar" matInput placeholder="Search">
</div>
<div class="main-contain">
    <div fxLayout="column" fxLayoutAlign="none" fxLayoutGa="16px" *ngFor='let allData of allDatas'>
        <div class="gateway-Title">
            <span>{{allData.segment_name}}</span>
        </div>
        <div class="card-container" *ngFor='let gateway of allData.gateway'>
            <div *ngFor='let node of gateway.nodes'>
                <app-node [node]="node" [gateway]="gateway.gateway_name" (click)="goToGraph(node)"></app-node>
            </div>
        </div>
    </div>
</div>
<ngx-spinner color="rgba(223,12,95,0.9)" bdOpacity="0.9" type="ball-atom">
</ngx-spinner>