<div class="search-bar-container">
    <mat-icon class="search-icon">search</mat-icon>
    <input class="search-bar" matInput placeholder="Search">
</div>
<div class="main-contain">
    <div fxLayout="column" fxLayoutAlign="none" fxLayoutGa="16px" *ngFor='let allData of allDatas'>
        <div class="gateway-Title">
            <span>{{allData.gateway_name}}</span>
        </div>
        <div class="card-container" *ngFor='let node of allData.nodes'>
            <app-node [node]="node" (click)="goToGraph(node)"></app-node>
        </div>
    </div>
</div>