<div class="container">
    <div fxLayout="column" fxLayoutGap="10px" [style.height.%]="100">
        <div fxFlex="50">
            <div fxLayout="row" fxLayout.lt-sm="column" [style.height.%]="100" fxLayoutGap="10px">
                <div fxFlex="calc(60% - 10px)" fxFlex.lt-sm="100%">
                    <app-customer-branch-details [customerAssignData]="customerAssignData" (ButtonClick)="getDeviceId($event)" (DeviceData)="getDeviceData($event)"></app-customer-branch-details>
                </div>
                <div fxFlex="40" fxFlex.lt-sm="100%">
                    <app-customer-branch-device-details [CurrentReading]="currentReading" [sensordata] = "sensorValue" [deviceName] = "deviceName" [deviceData]="deviceData" (sensorType)="getType($event)" (deviceMac)="getMac($event)"></app-customer-branch-device-details>
                </div>
            </div>
        </div>
        <div fxFlex="50" class="graph">
            <app-graph (NewReading)="ShowReading($event)" [sensorType]="sensorType"></app-graph>
        </div>
    </div>
</div>
