<div class="container" [style.height.%]="100">
    <div fxLayout="column wrap" fxLayoutGap="10px" fxLayout.lt-sm="row">
        <div fxFlex="0 1 calc(50% - 10px)">
            <div fxLayout="row" fxLayout.lt-sm="column" [style.height.%]="100" fxLayoutGap="10px">
                <div fxFlex="calc(60% - 10px)" fxFlex.lt-sm="100%" style="border: solid #305493 1px;">
                    <app-customer-branch-details></app-customer-branch-details>
                </div>
                <div fxFlex="calc(40% - 10px)" fxFlex.lt-sm="100%" style="border: solid #305493 1px;">
                    <app-customer-branch-device-details></app-customer-branch-device-details>
                </div>
            </div>
        </div>
        <div fxFlex="0 1 calc(50% - 10px)" class="graph">
            <app-graph></app-graph>
        </div>
    </div>
</div>
