.box{
    height: calc(100vh - 120px);
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message{
    text-align: center;
}

.back_button{
    background: linear-gradient(135deg, rgba(225,30,98,1) 35%, rgba(41,34,104,1) 100%);
    color: #fff;
    
}