.footer-toolbar{
    height: 40px;
    min-height: 30px;
    background-color:#2a2e33;
    color: whitesmoke;
    border-top:white solid 0.5px;
    font-weight: 400;
    font-size: 0.8em;
    overflow: hidden;
    border-top: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}
