/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    height: 100vh !important;;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.view-container {
    display: flex !important;
    flex-direction: column;
    height: 100%;
}

.main-content {
    flex: 1 0 auto;
}

.main-flex {
    height: 100%;
}

.example-spacer{
    flex: 1 1 auto
}