<mat-expansion-panel disabled expanded class="device-panel">
    <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
            Assign Customer
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="main-content">
        
    </div>
    <mat-action-row>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon class="mat-icons-round md-dark md-inactive md-24" (click)="InitializeEdit()">
                edit
            </mat-icon>
        </button> &nbsp;
        <button mat-icon-button>
            <mat-icon class="mat-icons-round md-dark md-inactive md-24">
                delete_outline
            </mat-icon>
        </button>&nbsp;
        <button mat-icon-button (click)="InitializeClick(19)">
            <mat-icon class="mat-icons-round md-pinkV md-24">
                add_circle
            </mat-icon>
        </button>
    </mat-action-row>
</mat-expansion-panel>