<div class="main-Contain">
    <div class="notification-card">
        <mat-card class="example-card mat-elevation-z6" (click)="getNotificationDetails()">
            <mat-card-header>
                <mat-card-title class="card-title">Node Name</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card mat-elevation-z6">
            <mat-card-header>
                <mat-card-title class="card-title">Node Name</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card mat-elevation-z6">
            <mat-card-header>
                <mat-card-title class="card-title">Node Name</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card mat-elevation-z6">
            <mat-card-header>
                <mat-card-title class="card-title">Node Name</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card mat-elevation-z6">
            <mat-card-header>
                <mat-card-title class="card-title">Node Name</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card mat-elevation-z6">
            <mat-card-header>
                <mat-card-title class="card-title">Node Name</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card mat-elevation-z6">
            <mat-card-header>
                <mat-card-title class="card-title">Node Name</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card mat-elevation-z6">
            <mat-card-header>
                <mat-card-title class="card-title">Node Name</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
    </div>
</div>
<ngx-spinner color="rgba(223,12,95,0.9)" bdOpacity="0.9" type="ball-atom">
</ngx-spinner>